#passwordModal(class="modal fade")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
        h4(class="modal-title") This Transaction will cost gas. Confirm?
      
      div(class="modal-body")
        .form-group
            label.col-sm-3.control-label(for='password') Password
            .col-sm-7
              input.form-control(type='password', name='password', id='password', value=user.password)
      br
      div(class="modal-footer")
          button(type="submit", class="btn btn-primary") Submit