block content
        br
        if data
         ul(id="artworkList")
            each d in data
                li
                        .well
                            img(alt=d.title, src=d.pic)
                            p.thicker #{d.title} 
                            span #{d.userId}
                            a.text-right(data-toggle="modal" href="/donate/"+ d.itemId class="btn btn-primary pull-right") View
                            br
                            br
                    
    
    

        script(src='/js/artlist.js')
