block content
  .page-header
    h3 Artwork
        br
        if data
         ul(id="artworkList")
            each d in data
                li
                    img(alt=d.title, src=d.pic)
                    p #{d.title} #{d.userId}
                    if user
                        if user.addressId !== d.userId
                            .col-sm-offset-3.col-sm-4
                                a(data-toggle="modal" href="/donate/"+ d.itemId class="btn btn-primary") Donate
                                //include ../partials/donate
                    
    
    

    script(src='/js/artlist.js')
